.item {
  margin: 0 0 30px;
  max-width: 620px;
}

.image-wrapper {
  width: 90px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 5px;
  // background-color: red;
  @media (max-width: 400px) {
    width: 75px;
    text-align: left;
  }
}

.image {
  width: 60px;
  border: 1px solid #ddd;
}

.text-wrapper {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 90px);
  padding-left: 7px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04rem;
  // font-family: 'Kanit', sans-serif;
  // color: #0A9FCD;
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: 400px) {
    font-size: 14px;
  }
}

.detail {
  margin: 0px 18px 2px 0;
  font-size: 13px;
  color: #444;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: 0.03rem;
  @media (max-width: 400px) {
    font-size: 11px;
    margin: 5px 10px 2px 0;
    line-height: 0.1;
  }
}

.remote {
  font-weight: 600;
  color: #e67e22;
}

.bold {
  font-weight: 700;
  color: #222;
  font-size: 14px;
  @media (max-width: 400px) {
    font-size: 12px;
  }
}

.green {
  font-weight: 600;
  color: #2ecc71;
}

.purple {
  font-weight: 600;
  color: #8e44ad;
}

.red {
  font-weight: 600;
  color: #c0392b;
}
.baht {
  font-size: 10px;
}

.skillWrapper {
  padding-top: 3px;
}

.skill {
  display: inline-block;
  font-size: 11px;
  color: #D35400;
  background-color: #FFE8D3;
  border: 1px solid #FFD1A1;
  border-radius: 7px;
  padding: 2px 6px;
  font-weight: 500;
  margin: 4px 10px 4px 0;
  cursor: default;
  letter-spacing: 0.03rem;
  @media (max-width: 400px) {
    padding: 1px 4px;
  }
}

