.exp-dropdown {
  min-width: 140px;
  margin-right: 20px;
}

.row {
  max-width: 850px;
  margin: 0 0 6px;
}

.rowFull {
  margin: 0 0 10px;
}

.label {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px;
  letter-spacing: 0.1px;
}

.sub-label {
  margin: -10px 0 6px;
  font-size: 11px;
  color: #999;
}

.inline {
  display: inline-block;
}

.num-input {
  margin: 0 10px;
  width: 70px;
}

.salary-input {
  margin: 0 10px 10px;
  width: 120px;
  &.fix {
    margin-left: 0;
  }
}

.how-to-apply {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}