.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #0288D1; /* Blue */
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-inline-wrapper {
	min-height: 42px;
}

.loader-inline-wrapper > div {
	display: inline-block;
	vertical-align: middle;
}