#navbar {
  margin: 50px 0 10px;
  @media (max-width: 400px) {
    margin-top: 30px;
  }
}

.after-logo {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  padding-top: 10px;
  @media (max-width: 400px) {
    margin-left: 0;
  }
  h6 {
    margin: 0;
    font-size: 15px;
  }
}

.langButton {
  display: inline-block;
  float: right;
  vertical-align: top;
  padding-top: 5px;
}

.langButton button {
  margin: 0;
  padding: 0 10px;
  color: #1EAEDB;
  text-decoration: none;
  &:hover {
    color: #0FA0CE;
    text-decoration: underline;
  }
  &.active {
    cursor: default;
    color: #222;
    text-decoration: none;
  }
}
