:global(.rdw-colorpicker-modal) {
  width: 205px !important;
  height: 215px !important;
}

:global(.rdw-editor-main) {
  // height: 600px !important;
  // overflow: scroll;
  min-height: 500px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;

}

.toolbar {
  background-color: #ddd !important;
  position: absolute;
  top: 0;
  left: 0;
  &.fixed {
    position: fixed;
    z-index: 99;
  }
}

.wrapper {
  position: relative;
}

.editor {
  padding-top: 50px;
}
